.text-indent {
  text-indent: 2em;
}

.portrait {
  border-radius: 5px;
  margin-bottom: 20px;
}

.skill {
  padding: 15px;
}

.projects-row {
  margin-bottom: 30px;
}

.no-padding {
  padding: 0px;
}

.phone2 {
  float:  right;
  right: -180px;
  position:  relative;
  opacity: .8;
}
.phone3 {
  float:  left;
  left: -180px;
  position:  relative;
  opacity: .8;
}
